
#bg {
    background: #03001e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(135deg, #fdeff9, #ec38bc, #7303c0, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(135deg, #fdeff9, #ec38bc, #7303c0, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

#logo { margin: 10px 0 }

#logo span {
    color: white;
    font-size: 50px;
    letter-spacing: 0.5em;
    text-shadow: 0 0 20px #0007;
}

#logo img {
    position: relative;
    bottom: 10px;
    padding-right: 0.5em;
    width: 4em;
}

.blob {
    background-color: #fffB;
    padding: 10px;
    box-shadow: 0 0 20px #0003;
    border-radius: 2px;
    transition: box-shadow 0.25s;
}

.blob:hover {
    box-shadow: 0 0 20px #0006;
}

.h_stickfix {
    padding-top: 10px;
}

.h_nav_row {
    font-size: 1.3em;
    color: #333;
    padding: 5px;
    transition: color 0.2s, background-color 0.2s;
}

.h_nav_row:hover {
    color: #555;
    background-color: #fff4;
    cursor: pointer;
}

.h_feed {
    font-size: 1.3em;
    color: #333;
}

.h_post img {
    width: 100%;
}

.h_post p {
    margin-bottom: 0;
}

.h_p_likes {
    margin-bottom: 10px;
}

footer {
    color: #fffB;
    text-align: center;
}

.h_post:nth-child(n+2) {
    padding-top: 20px;
    border-top: 1px solid #0003;
}

.h_trends {
    font-size: 1.3em;
    color: #333;
}

.h_trends_h {
    text-align: center;
    font-size: 1.1em;
}

.h_trends_row {
    margin-left: 10px;
    color: #9e04ff;
    text-decoration: underline;
}

.h_trends_row:hover {
    cursor: pointer;
    color: #ea04ff;
}

@media only screen and (max-width: 600px) {
    #logo { font-size: 3vw }
    #logo span { font-size: 3em }
    #logo img { bottom: 0.7em }
}