@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap);

html, body {
    color: #428989;
    margin: 0;
    padding: 0;
    font-family: Raleway, Helvetica;
    overflow-x: hidden;
}


#bg {
    background-image: linear-gradient(-45deg,#8EDFFF, #BEFDF9);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

p {
    margin: 0;
}


#logo {
    position:relative;
    width:100%;
    text-align: center;
    padding: 10px 0;
}
#logo span {
    color: #428989;
    font-size: 3em;
    letter-spacing: 1em;
}
#logo img {
    font-size: 3em;
    height: 1.2em;
    width: auto;
    margin-right: 0.9em;
    position: relative;
    top: 0.2em;
}


.container {
    /* background-color: #fff; */
    margin: 0 auto;
    width: min(60em, 100vw);
}

.static-bar {
    margin: 0 auto;
    position: fixed;
    width: calc(min(60em, 100vw));
    overflow: hidden;
    padding: 10px 0;
    z-index: -1;
}

.blob {
    margin: 0 auto;
    width: calc(100% - 30px);
    background-color: #fffc;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    box-shadow: 0 0 10px #0003;
}



#nav {
    position: relative;
    float: left;
    width: min(20%, 224px);
}

#content {
    width: 60%;
    margin: 10px auto;
}

#content .blob:hover {
    background-color: white;
    cursor: pointer;
}

#trends {
    float: right;
    width: min(20%, 224px);
}

@media screen and (max-width: 700px) {
    #logo {
        font-size: 9px;
    }

    #nav { width: 30% }
    #content { width: 70%; margin-left: 30%; }
    #trends { display: none }
}

.post {
    color: black;
}

.post h1 {
    margin: 0;
    margin-bottom: 10px;
}

.post img {
    width: 100%;
    border-radius: 10px;
}

.post p {
    padding-left: 10px;
}